
.game-grid {
  display: flex;
  flex-wrap: wrap;
  width: calc(var(--game-cell-size) * 3);
}

.game-grid-row {
  display: flex;
  width: 100%;
}

.cell {
  border: 1px solid black;
  height: var(--game-cell-size);
  width: var(--game-cell-size);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell-active {
    cursor: pointer;
}
